* {
    box-sizing: border-box;
}



body {
    background-color: #242423;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: wheat; 
    margin: 0;
    padding: 0;
 
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

h1 {
    border-bottom: 2px solid wheat;
    margin: 30px;
    display: flex;
    justify-content: center;
}

#searchContainer {
    padding: 15px;
}

h2 {
    font-size: large;
}

.good {
    background-color: blue;
}

.medium {
    background-color: yellow;
}

.severe {
    background-color: red;
}